

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p {
	margin: 15px 0px;
}

body {
	position: relative;
	margin: 0;
	background-color: rgb(240, 240, 240);
	font-family: Ubuntu, sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 90vh;
	background-image: url(../gallery/background-img-6.jpg);
	background-position: center 40%;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-container {
	margin-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	border: 2px solid #95BF74;
	border: 2px solid white;
	width: 90%;
	text-align: center;
}

.logo-container img {
	width: 100%;
}

figure {
	margin: 0px;
}

.fig-sec {
	height: 60vh;
	background-color: white;
}

.parallax-container {
	position: relative;
	width: 100%;
	height: 60vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.5s ease-in-out;
}

.fig-sec .parallax-container {
	height: 100%;
}

.parallax-container.enlarge {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-color: black;
	z-index: 10;
}

.img-icon {
	position: absolute;
	bottom: 10px;
	right: 25px;
	padding: 5px;
	font-size: 25px;
	color: rgb(55, 94, 32);
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	animation-name: expand-animation;
	animation-duration: 10s;
	animation-delay: 5s;
	animation-iteration-count: 3;
	transform-origin: bottom right;
}

.fa-times {
	bottom: 25px;
}

/*Shake and enlarge image
Wait x period of time */
@keyframes expand-animation {
	0% {
		transform: rotate(0deg);
	}

	1% {
		transform: rotate(20deg) scale(1.15);
	}

	2% {
		transform: rotate(-20deg) scale(1.15);
	}

	3% {
		transform: rotate(20deg) scale(1.15);
	}

	4% {
		transform: rotate(-20deg) scale(1.15);
	}

	5% {
		transform: rotate(10deg);
	}

	6% {
		transform: rotate(-10deg);
	}

	7% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

section,
form,
footer,
.map-sec {
	text-align: center;
	font-size: 1.3em;
	padding: 30px;
	background-color: white;
	border-width: 4px 0;
	border-color: rgb(55, 94, 32);
	border-style: solid;
}

.wide-sec {
	padding: 30px 5px;
}

.map-sec {
	padding: 0px 5px;
	background-color: #95BF74;
}

section h1 {
	margin: 10px;
}

.contact-form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact-form h2 {
	margin-bottom: 10px;
}

.contact-form input {
	margin: 5px 0px;
	font-size: 18px;
	text-align: center;
}

.contact-form datalist {
	max-height: 200px;
	overflow: scroll;
}

.contact-form label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.contact-form button {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 5px 0px;
	padding: 10px;
	font-size: 18px;
}

.contact-form button span:last-child {
	transform: rotate(15deg);
}

.display-figure {
	margin: 20px 10px;
}

.display-figure figcaption {
	text-transform: capitalize;
	text-decoration: underline;
}

#breed-img {
	max-width: 100%;
	max-height: 60vh;
	border-radius: 4px;
}

.unknown-breed {
	width: 50%;
}

#map {
	height: 80vh;
	width: 100%;
	background-color: grey;
	margin: 0 auto;
}

.d-footer {
	display: none;
	position: fixed;
	bottom: 0px;
	justify-content: space-around;
	width: 90%;
	height: 30px;
	z-index: 1;
	background-color: white;
	border-top: 4px solid rgb(55, 94, 32);
	font-size: 0.8em;
}

.d-footer div {
	display: flex;
	padding: 2px;
}

footer.wide-sec {
	padding-bottom: 40px;
}

#top-arrow {
	position: fixed;
	bottom: 10px;
	right: 25px;
	padding: 5px;
	font-size: 25px;
	color: rgb(55, 94, 32);
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 5;
}

#top-arrow.show-arrow {
	opacity: 1;
}

/*fix logo becoming too large*/
@media screen and (min-width: 430px) {
	.logo-container {
		width: 400px;
	}
}

/*allow input boxes on same line as the label text*/
@media screen and (min-width: 450px) {
	.contact-form label {
		flex-direction: row;
	}
}

/*fix width when not on mobile phone devices*/
@media screen and (min-width: 470px) {
	.contact-form label,
	.contact-form button {
		width: 450px;
	}
}

/*allow footer contact details on same line*/
@media screen and (min-width: 530px) {
	footer div {
		display: flex;
		justify-content: center;
	}

	footer div h2 {
		padding: 0px 5px;
	}
}

/*allow parallaxing images on desktop devices*/
@media screen and (min-width: 1100px) {
	header {
		height: 75vh;
		background-attachment: fixed;
	}

	.parallax-container {
		background-attachment: fixed;
	}
}
