html {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  margin: 15px 0px;
}

body {
  position: relative; 
  margin: 0; 
  
  background-color: #95BF74;
  font-family: Ubuntu, sans-serif; 
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 90vh;
  
  background-image: url(../Gallery/Background-Img.PNG);
  background-position: center -60px;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.logo-container {
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;  
  border: 2px solid #95BF74;
  border: 2px solid white;
  width: 90%;
  text-align: center;
}

.logo-container img {
  width: 100%;
}

main {
  height: 2000px;
}

section {
  text-align: center;
  padding: 30px;
  background-color: rgb(255,255,255);
  border-width: 2px 0;
  border-color: lime;
  border-style: solid;
}

.parallax-container {
  height: 60vh;
  background-image: url(../Gallery/Parallax-3.JPG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: pink;
}

.open-sec {
  padding: 20px 0px;
}

.open-sec h1 {
  margin: 10px 0;
}




.c1 {
  background-color: #99DDC8;
}

.c2 {
  background-color: #95BF74;
}

.c3 {
  background-color: #659B5E;
}

.c4 {
  background-color: #556F44;
}

.c5 {
  background-color: #283F3B;
}


