.img-tag-1 {
  background-image: url(../gallery/parallax-3.jpg);
}

.img-tag-2 {
  background-image: url(../gallery/group-3.jpg);
}

.img-tag-3 {
  background-image: url(../gallery/croft.jpg);
}

.img-tag-4 {
  background-image: url(../gallery/cool-dog.jpg);
}

.img-tag-5 {
  background-image: url(../gallery/group-1.jpg);
}

.img-tag-6 {
  background-image: url(../gallery/background-img-3.jpg);
}

.img-tag-7 {
  background-image: url(../gallery/img_2755.png);
}

.img-tag-8 {
  background-image: url(../gallery/img_2889.png);
}

.img-tag-9 {
  background-image: url(../gallery/background-img-5.jpg);
}

.img-tag-10 {
  background-image: url(../gallery/background-img-2.jpg); 
}